{% extends "../base.html" %}
{% load static %}
{% block css %}
{% static 'css/makegroup.css' %}
{% endblock %} 

{% block title %}
그룹 만들기 페이지
{% endblock %}

{% block content %}
  <div>
    <h1>그룹을 생성해보세요.</h1>
    <!-- <img src="image/minilogo.png"> -->
      <input type="text" class="form-control boxcontrol" placeholder="그룹 이름을 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
      <button type="button" class="btn btn-outline-success button2">생성</button>
  </div>
{% endblock %}
  