@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap'); 
/* 글씨체 불러옴 */



body{
	background-color: rgb(223, 228, 220) ;
	text-align: center;
}

/* 그룹생성 글씨  */
h1{ 
	margin-top: 40px;
	margin-right: -50px;
	color: black;
	font-family: 'Nanum Myeongjo', serif;
	/* 'Sunflower', sans-serif; */
}

/* input 박스  */
input { 
	border-color: gray;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 1px;
	/* border- */
	height: 30px;
	background: transparent;
}

.button2 { 
	width: 50px;
	height: 35px;
	border-radius: 4px;
	font-size: 12px;
	
}

/* 로고 */
img { 
	width: 80px; 
	height: 120px;
}