@import "css/reset.css";

body {
    background-color: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding: 50px;
}

.canvas {
    width: 500px;
    height: 700px;
    background-image: url("/static/admin/img/book.png");
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #5cb85c;
    cursor: pointer;
    border: 1px solid #4cae4c;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.filebox label:hover {
    background-color: #AEE9B2;
}

.filebox label:active {
    background-color: #58AA55;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.controls .controls_colors {
    display: flex;
    margin-top: 30px;
}

.controls_colors .controls_color {
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    cursor: pointer;
}

.controls .controls_rango {
    margin-bottom: 30px;
}

form {
    padding: 2em;
}

form .field {
    margin: 3em auto;
    opacity: .5;
    text-align: center;
    transition: all .2s ease-in-out;
    width: 300px;
}

form .field.active {
    opacity: 1;
    transform: scale(1.5);
}

form .field.semi-active {
    opacity: .75;
    transform: scale(1.25);
}

form .field label {
    display: block;
}

.flex {
    display: flex;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 20vw;
    margin: 0 auto;
    min-height: 50vh;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
}



.btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    text-decoration: none;
}

.price{
    margin-top: 110px;
    text-align: center;
    font-size: 40px;
    color: #58AA55;
}